<a href="https://colab.research.google.com/github/anjunpil/beakjun_coding/blob/master/9095.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
a=[1,2,4]
for i in range(3,11):
  a.append(sum(a[-3:]))
for i in range(int(input())):
  n=int(input())
  print(a[n-1])

3
4
7
7
44
10
274

In [43]:
a=[1,2,4]
for i in range(4,11):
  a.append(sum(a[-3:]))
print(a)

[1, 2, 4, 7, 13, 24, 44, 81, 149, 274]

In [17]:
a = [0 for _ in range(6)]

ERROR! Session/line number was not unique in database. History logging moved to new session 62